body{
  background-color:rgba(163, 163, 69, 0.719);
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.cats {
  background-color: bisque;
  margin: 0.5em;
  padding: 1em;
  border-radius: 1em;
  border: 2px solid;
  border-color: rgb(64, 86, 107);
  flex: 1;
}

@media (min-width : 960px) {
  .catbox {
    display: flex;
  }
}
fieldset {
  margin: 1em;
  border: 0em;
}
button{
  padding: 0.5em;
  border: 1px solid;
  border-radius: 0.5em;
}
input{
  padding: 0.5em;
  border: 1px solid;
  border-radius: 0.5em;
}
a {
  color:black;
}
a:hover {
  color: rgb(141, 84, 84);
}
.address{
  font-size: smaller;
}
